:root{
  --primary-color:coral;
  --secondary-color:chocolate;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  background:lightgray;
  font-family:Arial, Helvetica, sans-serif;
}
/* navbar */
#navbar ul{
  list-style: none;
}
#navbar ul li{
  color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
}
#navbar ul li a{
  color: gray;
  text-decoration: none;
}
/* Hide nested Ul by default */
#navbar ul li ul{
  display: none;
}
#navbar ul li:hover{
  cursor: pointer;
  background: var(--primary-color);
  color: white;
}
#navbar ul li:hover a{
  color: white;
}
/* nested dropdown show */
#navbar ul li:hover ul{
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}
#navbar ul li:hover ul li{
  display: block;
  background: #e7e7e7;
}
#navbar ul li:hover ul li a{
  color: #333;
}
#navbar ul li:hover ul li:hover{
  background: #e0e0e0;
  color: inherit;
}
#navbar ul li:hover ul li span{
  float: right;
  color: white;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}
#navbar ul li:hover ul li:hover span{
  background: var(--secondary-color);
}
#showcase{
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}
#showcase h1{
  color: white;
  font-size: 4rem;
}